.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 40px;
  :hover {
    cursor: pointer;
  }
}

.navbar-logout button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-logout img {
  height: 30px;
  cursor: pointer;
}
